
<!-- HERO SECTION -->
<section class="hero text-white text-center text-lg-start">
  <div class="container py-5">
    <div class="row align-items-center">
      
      <div class="col-lg-6">
        <h1 class="fw-bold display-5">
          <Strong>Digitize Your Campus</Strong> with One Powerful Platform
        </h1>
        <p class="mt-3">
          Manage admissions, attendance, fees, exams and communication — all in one place.
        </p>

        <div class="mt-4 d-flex gap-3">
          <a routerLink="/register" class="btn btn-light btn-lg">Try For Free</a>
          <a routerLink="/login" class="btn btn-outline-light btn-lg">Watch Demo</a>
        </div>
      </div>

      <div class="col-lg-6 text-center mt-4 mt-lg-0">
        <img src="assets/school.webp" class="img-fluid hero-img" />
      </div>

    </div>
  </div>
  <app-secondary-navbar></app-secondary-navbar>
</section>

<!-- FEATURES -->
<section class="cards py-5">
  <h2 class="text-center text-light fw-bold mb-2">Our School Management System</h2>
  <p class="text-center text-light mb-5">
    We make your school management easy, secure and manageable.
  </p>

  <div class="row g-4">
    <div class="col-md-4" *ngFor="let f of features">
      <div class="card feature-card h-100">
        <div class="card-body text-light">
          <i class="bi {{f.icon}} fs-1 text-primary"></i>
          <h5 class="mt-3 fw-bold">{{f.title}}</h5>
          <p class="text-light">{{f.desc}}</p>
          <a href="#" class="text-primary small">Learn more...</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- PRICING -->
<section class="pricing  py-5">
  <div class="container ">
    <h2 class="text-center text-light fw-bold mb-5">Pricing Plans</h2>

    <div class="row g-4">
      <div class="col-md-4" *ngFor="let plan of pricingPlans">
        <div class="card pricing-card h-100 text-center"
             [ngClass]="{'highlight': plan.highlight}">
          
          <div class="card-body">
            <h4 class="fw-bold">{{plan.name}}</h4>
            <h3 class="price my-3">{{plan.price}}</h3>

            <ul class="list-unstyled">
              <li *ngFor="let f of plan.features">✔ {{f}}</li>
            </ul>

            <button class="btn btn-primary w-100 mt-3">Select Plan</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- REVIEWS -->
<section class="reviews py-5 text-center">
  <h2 class="fw-bold mb-4 text-light">Client Reviews</h2>

  <div class="row g-4">
    <div class="col-md-4" *ngFor="let r of reviews">
      <div class="card review-card text-light">
        <div class="card-body">
          <img src="https://i.pravatar.cc/80" class="rounded-circle mb-3" />
          <p class="small">
            "This system completely transformed how we manage our school.
            Highly recommended!"
          </p>
          <strong>- Ahmed Khan</strong>
        </div>
      </div>
    </div>
  </div>
</section>