<div class="login-wrapper">

  <div class="login-container row g-0">

    <!-- LEFT SIDE -->
    <div class="col-lg-6 left-panel text-center">

      <div class="content">

        <div class="brand">
          <span>🎓</span>
          <h4>SchoolFish</h4>
        </div>

        <h2>Welcome Back</h2>
        <p>Sign in to continue your dashboard</p>

        <div class="alert alert-danger" *ngIf="errorMessage()">
          {{ errorMessage() }}
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">

          <!-- EMAIL -->
          <div class="form-floating mb-3">
            <input type="email"
                   class="form-control"
                   placeholder="Email"
                   formControlName="email">
            <label>Email address</label>
          </div>

          <!-- PASSWORD -->
          <div class="form-floating mb-3 position-relative">
            <input [type]="showPassword() ? 'text' : 'password'"
                   class="form-control"
                   placeholder="Password"
                   formControlName="password">

            <label>Password</label>

            <span class="toggle-password" (click)="togglePassword()">
              {{ showPassword() ? '🙈' : '👁️' }}
            </span>
          </div>

          <!-- OPTIONS -->
          <div class="d-flex justify-content-between align-items-center mb-4 small">
            <label class="remember">
              <input type="checkbox"> Remember me
            </label>
            <a href="#">Forgot Password?</a>
          </div>

          <!-- BUTTON -->
          <button class="btn login-btn w-100"
                  [disabled]="form.invalid || loading()">

            <span *ngIf="!loading()">Sign In →</span>

            <span *ngIf="loading()" class="spinner-border spinner-border-sm"></span>
          </button>

        </form>

        <p class="mt-4 text-center small">
          Don’t have an account?
          <a routerLink="/register">Create one →</a>
        </p>

      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="col-lg-6 right-panel d-none d-lg-flex">

      <div class="overlay"></div>

      <div class="visual-content">
        <h1>Smart School Management</h1>
        <p>Manage students, staff & analytics in one place.</p>

        <img src="assets/school.webp" alt="illustration">
      </div>

    </div>

  </div>

</div>